/*animation STYLES*/
#astronaut-fly {
  animation: fly 8s ease;
  position: absolute;
  width: 300px;
  top: 25%;
  left: 53%;
}

@keyframes fly {
  0% {
    top: -20%;
    left: 53%;
  }

  25% {
    top: 10%;
    left: 53%;
  }

  50% {
    top: 15%;
    left: 53%;
  }
  100% {
    top: 25%;
    left: 53%;
  }
}
/*mediaquerys img and animation*/
@media screen and (max-width: 800px) {
  #astronaut-fly {
    width: 250px;
    top: 23%;
    left: 33%;
  }
  @keyframes fly {
    0% {
      top: -20%;
      left: 33%;
    }

    25% {
      top: 10%;
      left: 33%;
    }

    50% {
      top: 15%;
      left: 33%;
    }
    100% {
      top: 24%;
      left: 33%;
    }
  }
}
