/*PROJECTS SECTION STYLES*/
.projects-section-container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.projects-section-title {
  color: var(--white);
  text-align: center;
}

.projects-list-container {
  display: flex;
  flex-wrap: nowrap; /* Keep items in a single row */
  list-style-type: none;
  justify-content: flex-start; /* Start from left */
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 1720px;
  /* Set the desired maximum height for the container */
  max-height: 400px;
  scrollbar-color: var(--brightblue) var(--darkgray);
}
::-webkit-scrollbar {
  display: none;
}

.projects-list-item {
  position: relative;
  width: 310px;
  height: 330px;
  margin: 25px 20px 20px 25px;
  border: 1px #131414 solid;
  flex: 0 0 auto; /* Disable item shrinking */
  border-radius: 20px;
}

.projects-list-item > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.projects-list-item-info {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background: var(--darkgray);
  transition: 0.3s ease;
  width: auto;
  color: #fff;
  padding: 10px 10px 0 25px;
  content: initial;
  width: 100%;
  height: 100%;
  line-height: 2;
  border: solid 0.5px var(--brightblue);
  border-radius: 20px;
}

.projects-list-item-info h2 {
  text-align: center;
}

.projects-list-item-info h4 {
  line-height: 1.2;
}

.projects-list-item-info p {
  margin-top: 8px;
  line-height: 1.2;
}

.projects-list-item:hover .projects-list-item-info {
  display: block;
}

.projects-list-item-info-link {
  text-decoration: none;
  color: var(--brightblue);
}

/*Links in projects cards*/
.projects-list-item-links {
  margin-top: 10px;
  position: absolute;
  bottom: 20px;
}

.btn-gradient-mobile {
  color: var(--white);
  padding: 4px 12px;
  border-radius: 4px;
  background: transparent;
  text-decoration: none;
  transition: 0.3s ease;
  border: 1px solid var(--brightblue);
  margin-right: 5px;
}

.btn-gradient-mobile:hover {
  background: var(--brightblue);
  color: var(--white);
}

.projects-list-item-info h2 {
  text-align: center;
}

.main-projects-list-item:hover .projects-list-item-info {
  display: block;
}

.main-projects-list-item-info-link {
  text-decoration: none;
  color: var(--brightblue);
}

.personal-projects-container {
  color: var(--white);
  text-align: center;
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-project-icon {
  height: 40px;
  margin-left: 5px;
}

.personal-project-icon:hover {
  padding: 1px;
  transition: all 0.2s ease;
}
