.projects-section-navegation-container {
  margin-left: 85px;
  margin-right: 85px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-section-navegation-container h2 {
  text-align: center;
}
#navegation-arrow-left {
  position: absolute;
  left: 10%;
  display: none;
  cursor: pointer;
  font-size: 25px;
}

#navegation-arrow-right {
  position: absolute;
  right: 10%;
  display: none;
  cursor: pointer;
  font-size: 25px;
}
@media screen and (max-width: 900px) {
  #navegation-arrow-right {
    display: block;
  }
  #navegation-arrow-left {
    position: absolute;
    left: 10%;
    display: block;
  }
}
